<header class="fixed-top">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <div class="logo">
          <img src=" assets/images/logo-white.png" alt="logo-svg" width="50px" height="50px">
        </div>
        <ul class="list">
          <li class="nav-item ">
            <a href="#about" class=" link " >
            <span class="mask">
              <div class="link-container">
                <span class="link-title1 title">ABOUT</span>
                <span class="link-title2 title">ABOUT</span>
              </div>
            </span> </a>
            </li>
          <li class="nav-item">
            <a href="#work" class=" link " >
              <span class="mask">
                <div class="link-container">
                  <span class="link-title1 title">WORK</span>
                  <span class="link-title2 title">WORK</span>
                </div>
              </span> </a> 
          </li>
          <li class="nav-item">
            <a href="#contact" class=" link" >
              <span class="mask">
                <div class="link-container">
                  <span class="link-title1 title">CONTACT</span>
                  <span class="link-title2 title">CONTACT</span>
                </div>
              </span> </a>  </li>
        </ul>
      </div>
    </div>
  </header>
