<footer class="footer" id="contact">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h3 class="connect">CONNECT</h3>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <ul class="list px-0">
                            <li class="list-item ">
                                <a href="https://dribbble.com/" class="list-link" target="_blank">
                                    <div class="d-flex">
                                        <img src=" assets/images/ic-contact-link.svg" alt="contacy link">
                                        <div class="material-bubble">
                                            <h4>Dribbble</h4>
                                            <h4 class="text-hidden">Fake works</h4>
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="https://youtube.com/" class="list-link" target="_blank">
                                    <div class="d-flex">
                                        <img src=" assets/images/ic-contact-link.svg" alt="contacy link">
                                        <div class="material-bubble">

                                            <h4>youtube</h4>
                                            <h4 class="text-hidden">Random tutorials</h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="https://behance.com/" class="list-link" target="_blank">
                                    <div class="d-flex">
                                        <img src=" assets/images/ic-contact-link.svg" alt="contacy link">
                                        <div class="material-bubble">

                                            <h4>Linkedin</h4>
                                            <h4 class="text-hidden">Serious me</h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list px-0">
                            <li class="list-item">
                                <a href="https://instagram.com/" class="list-link" target="_blank">
                                    <div class="d-flex">
                                        <img src=" assets/images/ic-contact-link.svg" alt="contacy link">
                                        <div class="material-bubble">

                                            <h4>Instagram</h4>
                                            <h4 class="text-hidden">Not Tiktok</h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="https://facebook.com/" class="list-link" target="_blank">
                                    <div class="d-flex">
                                        <img src=" assets/images/ic-contact-link.svg" alt="contacy link">
                                        <div class="material-bubble">

                                            <h4>Facebook</h4>
                                            <h4 class="text-hidden">Mostly dog stories</h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="https://behance.com/" class="list-link" target="_blank">
                                    <div class="d-flex">
                                        <img src=" assets/images/ic-contact-link.svg" alt="contacy link">
                                        <div class="material-bubble">

                                            <h4>Behance</h4>
                                            <h4 class="text-hidden">The Jurassic park</h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list px-0">
                            <li class="list-item mb-2">
                                <div class="d-flex flex-column material-bubble email">
                                    <h4 class="text-mask">Email</h4>
                                    <h4 class="text-hidden">
                                        100% chance I read it
                                    </h4>
                                    <p>test@test.com</p>
                                </div>
                                
                            </li>
                            <li class="list-item">
                                    <div class="d-flex flex-column material-bubble phone">
                                        <h4 class="text-mask">Phone</h4>
                                        <h4 class="text-hidden">
                                            90% chance I don't pick up
                                        </h4>
                                        <p>+254365421</p>
                                    </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
