<section class="container-fluid work" id="work">
    <div class="row justify-content-center what-do  align-items-center ">
        <div class="col-md-10 ">
            <h3 class="work-heading">WHAT I DO</h3>
            <div class="">
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center">
                    <h4>3D</h4>
                    <p class="text-hidden">I can produce anything that my 16” laptop can render</p>
                </div>
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center">
                    <h4>VISUAL</h4>
                    <p class="text-hidden">I search the internet for visual references and then combine them to create
                        my own work.</p>
                </div>
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center">
                    <h4>MOTION</h4>
                    <p class="text-hidden">I use fancy motion that makes my design more interesting than it actually is
                    </p>
                </div>
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center">
                    <h4>PRODUCT</h4>
                    <p class="text-hidden">I utilize common design best practices, test, and re-iterate until it works
                        (hopefully).</p>
                </div>
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center">
                    <h4>TUTORIAL</h4>
                    <p class="text-hidden">I thought I’d make millions of $ from Youtube but I didn’t</p>
                </div>




            </div>
        </div>
    </div>
    <div class="row justify-content-center h-100  align-items-center experience">
        <div class="col-md-8 text" (mouseover)="handleTextHover()" (mouseout)="removeClass()">
            <h3 class="about-heading">experience</h3>
            <div class="split-lines" [innerHtml]="experience">
            </div>
        </div>
    </div>
    <div class="row justify-content-center history  align-items-center ">
        <div class="col-md-10 ">
            <h3 class="work-heading">History</h3>
            <div class="">
                <div class="d-flex text-group material-bubble p-5  align-items-center">
                    <h4 class="list-small">NOW</h4>
                    <div class=" ms-5 d-flex flex-column">
                        <h5>Design Lead</h5>
                        <h5 class="masked">Self-Lead Designer</h5>
                        <p>Fantasy Interactive </p>
                    </div>
                </div>
                <div class="d-flex  text-group material-bubble p-5  align-items-center">
                    <h4 class="list-small">2016</h4>
                    <div class="d-flex ms-5 flex-column">
                        <h5>Senior Product Designer</h5>
                        <h5 class="masked">Regular Web Designer</h5>
                        <p> Interactive Labs</p>
                    </div>
                </div>
                <div class="d-flex text-group material-bubble p-5  align-items-center">
                    <h4 class="list-small">2012</h4>
                    <div class="d-flex text-start ms-5 flex-column">
                        <h5>Art Director</h5>
                        <h5 class="masked">Photoshop doodler</h5>
                        <p> DR Com Group</p>
                    </div>
                </div>
                <div class="d-flex text-group material-bubble p-5  align-items-center">
                    <h4 class="list-small">2009</h4>
                    <div class="d-flex ms-5 flex-column">
                        <h5>Flash Designer</h5>
                        <h5 class="masked">Jurassic Designer</h5>
                        <p> DR Com Group</p>
                    </div>
                </div>




            </div>
        </div>
    </div>


    <div class="row justify-content-center  align-items-center clients">
        <div class="col-md-8 text" (mouseover)="handleTextHover()" (mouseout)="removeClass()">
            <h3 class="about-heading">clients</h3>
            <div class="split-lines" [innerHtml]="clients">
            </div>
        </div>

    </div>
    <div class="row justify-content-center what-do position-relative overflow-hidden  align-items-center">
        <div class="client"></div>
        <div class="col-md-10  client-list">
            <div class="">
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center">
                    <h4 class="">FORD</h4>
                    <p class="text-hidden  ">Working on the Next-Generation HMI Experience without no driving
                        experience.
                    </p>
                </div>
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center">
                    <h4 class="">UFC</h4>
                    <p class="text-hidden">Developed the Future of UFC Sports Ecosystem despite not being a sports fan.
                    </p>
                </div>
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center">
                    <h4 class="">LINCOLN</h4>
                    <p class="text-hidden ">Defined the visual concept and design language for the Lincoln Zephyr 2022
                        but never seen it in real life.</p>
                </div>
                <div
                    class="d-flex text-group material-bubble text-nowrap  py-2 justify-content-between align-items-center">
                    <h4 class="">ROYAL CARIBBEAN</h4>
                    <p class="text-hidden text-wrap">I was just one person on a massive team that created an entire
                        Royal
                        Caribbean eco-system.</p>
                </div>
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center ">
                    <h4>SLEEPIQ</h4>
                    <p class="text-hidden">Designed a 1M+ users product utilizing my best personal experience: sleeping.
                    </p>
                </div>
                <div class="d-flex text-group material-bubble  py-2 justify-content-between align-items-center">
                    <h4 class="">NFL</h4>
                    <p class="text-hidden">Explored the Future of Fantasy Football while being in a country where
                        football means a total different sport.
                    </p>
                </div>
                <div class="dots d-flex px-4">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center  align-items-center video-container">
        <video class="video px-0 w-100" autoplay loop muted id="scaled-video">
            <source src="../../assets/video/mixkit-animation-of-futuristic-devices-99786.mp4" type="video/mp4">
        </video>
    </div>
</section>