@import '../../../theme/var';

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;
}

.main-section {
    padding-top: 50px;
    transition: all 1s ease-in-out;
    height: 100vh;
}

.name {
    font-weight: 600;
    letter-spacing: 10px;

    &:hover {
        color: $black;
    }
}

h1 {
    font-size: 7rem;
    font-weight: bold;
    line-height: 0.8;
    position: relative;
    z-index: 100;
    transition: all 1s ease-in-out;
    animation: myAnim 2s ease 0s 1 normal forwards;
    mix-blend-mode: difference;
    padding-bottom: 100px;
    .not-masked{
        display: block;
    }
    .masked{
        display: none;
    }
&:hover{
    .not-masked{
        display: none;
    }
    .masked{
        display: block;
        color: $primary;
    }
}
}

.h1-hovered {
    color: $black !important;
}

h6 {
    position: relative;
    z-index: 100;
    text-transform: uppercase;
}

@keyframes myAnim {
    0% {
        transform: scaleY(0.4);
    }

    100% {
        transform: scaleY(1);
    }
}

@media screen and(max-width:500px) {
    h1 {
        font-size: 4rem;
    }
}