<div class="container-fluid   testimonials">
  <div class="row  justify-content-center testimonial align-items-center">
    <div class="col-md-8 ">
      <swiper [spaceBetween]="10" [navigation]="false" [loop]="true" [autoplay]="{delay: 500,
        disableOnInteraction: false}" [thumbs]="{ swiper: thumbsSwiper }" class="mySwiper2">
        <ng-template swiperSlide>
          <div class="first d-flex align-items-start gap-3">
            <img src="../../assets/images/quotation-mark-svgrepo-com.svg" alt="quotation-mark" width="50px">
            <div >
              <h5 class="mb-4 split-line">
                Minh is seriously <br>
                the best and he <br>
                never complain
              </h5>
              <h6 class="name split-line">Michael Glass</h6>
              <h6 class="split-line">Group Design Director</h6>
              <h6 class="split-line">Fantasy Interactive</h6>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="first d-flex align-items-start gap-3">
            <img src="../../assets/images/quotation-mark-svgrepo-com.svg" alt="quotation-mark" width="50px">
            <div>
              <h5 class="mb-4 split-line">
                This looks <br>
                amazing. <br>
                great work!
              </h5>
              <h6 class="name split-line">Peter Smart</h6>
              <h6 class="split-line">Head Of Product</h6>
              <h6 class="split-line">Fantasy Interactive</h6>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="first d-flex align-items-start gap-3">
            <img src="../../assets/images/quotation-mark-svgrepo-com.svg" alt="quotation-mark" width="50px">
            <div>
              <h5 class="mb-4 split-line">
                He's a beast. <br>
                his skills are <br>
                insane!
              </h5>
              <h6 class="name split-line">Linh Le</h6>
              <h6 class="split-line">Project Manager</h6>
              <h6 class="split-line">Interactive Labs</h6>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
    <div class="col-md-2 text-center ">
      <swiper (swiper)="thumbsSwiper = $event" [spaceBetween]="10" [slidesPerView]="4" [freeMode]="true"
        [watchSlidesProgress]="true" class="mySwiper swiper-vertical">
        <ng-template swiperSlide>
          <div class="image ">
            <img src="../../assets/images/michael-glass.jpg" width="80" class="img-fluid" alt="michael-glass">
            <div class="overlay ">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="image">
            <img src="../../assets/images/peter-smart.jpg" width="80" class="img-fluid" alt="peter-smart">
            <div class="overlay ">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="image">
            <img src="../../assets/images/linh-le.jpg" width="80" class="img-fluid" alt="linh-le.jpg">
            <div class="overlay ">
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>

</div>
   <section class="row   align-items-center motto" id="contact">
  <div class="col-md-8 text ps-5" (mouseover)="handleTextHover()" (mouseout)="removeClass()">
    <h3 class="about-heading text-start">WHY CHOOSE US?</h3>
    <div class="split-lines" >
      <p class="  masked mb-4">
        OUR TEAM OF <strong class="text-primary">EXPERT DESIGNERS</strong>
        HAS YEARS OF EXPERIENCE
        CREATING EFFECTIVE DESIGNS FOR
        A WIDE RANGE OF INDUSTRIES.
      
    </p>
      <p class=" masked">
        WE STAY UP-TO-DATE ON THE LATEST
        DESIGN TRENDS AND TECHNOLOGY,
        SO YOU CAN <strong class="text-primary"> BE SURE </strong> YOUR
        DESIGNS ARE FRESH, MODERN, AND
        EFFECTIVE
      
    </p>
    <p class=" not-masked mb-4">
      OUR TEAM OF <strong class="text-primary">EXPERT DESIGNERS</strong>
      HAS YEARS OF EXPERIENCE
      CREATING EFFECTIVE DESIGNS FOR
      A WIDE RANGE OF INDUSTRIES.
    
  </p>
    <p class=" not-masked">
      WE STAY UP-TO-DATE ON THE LATEST
      DESIGN TRENDS AND TECHNOLOGY,
      SO YOU CAN <strong class="text-primary"> BE SURE </strong> YOUR
      DESIGNS ARE FRESH, MODERN, AND
      EFFECTIVE
    
  </p>
    </div>
    <!-- <h3 class="about-heading">{{name}}</h3> -->
  </div>
</section>
