/* You can add global styles to this file, and also import other style files */
@import'../theme/theme.scss';
html {
    scroll-behavior: smooth;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'poppins-regular' !important;
    direction: ltr;
    background-color: #0D0D0D;
    color: $light;
}
