/* You can add global styles to this file, and also import other style files */
@import'../theme/theme.scss';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    scroll-behavior: smooth;
    font-family: 'poppins-regular' !important;
    direction: ltr;
    background-color: #0D0D0D;
    color: $light;
    cursor: context-menu;
}
.mySwiper{
    .swiper-slide{
        padding-left: 20px !important;
    .image {
        position: relative;
        margin-bottom: 20px;
        width: 80px;
        img{
            margin-left: 20px;
        }
        .overlay {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            inset: 0;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            left: 20px;
        }
    
        &::before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            border-top: 12px solid transparent;
            border-left: 0px solid transparent;
            border-right: 12px solid #eb5939;
            border-bottom: 12px solid transparent;
            top: 26px;
            left: 0px;
            display: none;
        }
    
    
    }
    &.swiper-slide-thumb-active{
        .image{
     
            .overlay {
                display: none;
            }
     
            &::before {
                display: block;
            }
        }
         
     }
    }
}
//     font-size: 3.7rem;
//     line-height: 1.1;
//     font-weight: bold;
//     display: block;
//     color: $light;
//     position: relative;
//     z-index: 100;
//     transition: all 1s ease-in-out;
//     mix-blend-mode: difference;
//     .not-masked{
//       display: block;
//   }
//   .masked{
//       display: none;
//   }
// &:hover{
//   .not-masked{
//       display: none;
//   }
//   .masked{
//       display: block;
//   }
// }
//   }
// }
// .split-lines{
//     font-size: 3.7rem !important;
//     line-height: 1.1;
//     font-weight: bold;
//     display: block;
//     color: $light;
//         transition: all 1s ease-in-out;
//     mix-blend-mode: difference;
//     .not-masked{
//       display: block;
//   }
//   .masked{
//       display: none;
//   }
// &:hover{
//   .not-masked{
//       display: none;
//   }
//   .masked{
//       display: block;
//   }
// }
//   }
  
  
  .line {
    position: relative;
  }
  
  .line-mask {
    position: absolute;
    top: 0;
    right: 0;
    background-color:#0D0D0D;
    opacity: 0.65;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .experience{
    .line-mask{
        background-color: #1C1C1C;
    }
  }
@media screen and(max-width:800px) {
    .mySwiper{
        margin-top: -201px;
    margin-left: -50px;
     }
}
@media screen and(max-width:500px) {
    .mySwiper{
        margin-left: 0px;
        .swiper-wrapper{
            flex-direction: row !important;
            .swiper-slide{
                .image {
                
                    &::before {
                        display: none;
                    }
                
                
                }
            }
        }
     }
}